<meta charset="utf-8">

<html>
  <head>
	<title>
	  UACG: <%= tagline %>
	</title>
	<style>
	  * {
		  box-sizing: border-box;
	  }
	  pre {
		  white-space: pre-wrap;
		  width: 100%;
		  padding-left: 2em;
		  padding-right: 2em;
	  }
	</style>
  </head>
  <body>
	<a href="/index.html">Back to home page</a>
	<h1>
	  Challenge <%= number %>: <i>"<%= tagline %>"</i>
	</h1>
	<% if current %>
	  <h2>
		Submissions open on <%= opens_on %>	  
	  </h2>
	  <h2>
		Submissions close on <%= closes_on %>	  
	  </h2>
	<% else %>
	  <h2>
		The submissions are no longer open for this challenge.
	  </h2>
	  <h2>
		Submissions opened on <%= opens_on %>	  
	  </h2>
	  <h2>
		Submissions closed on <%= closes_on %>	  
	  </h2>
	<% end %>
	<pre><%= content %></pre>
	<% if current %>
	  <p>
		Submit all entries to <a href="mailto:uacodegolf@gmail.com?subject=[SUBMISSION] Challenge <%= number %> <your language>">uacodegolf@gmail.com</a> with the subject line "[SUBMISSION] Challenge <%= number %> &lt;your language&gt;". If you do not do this, <strong>we will not count your submission!</strong>
	  </p>
	  <p>
		You must have a valid university email address to submit an entry -- feel free to compete regardless of which university! We will count the final version if multiple versions are sent from a single address.
	  </p>
	<% end %>
	<a href="/index.html">Back to home page</a>  
  </body>
</html>
  
